# perform LF normalization
*.php text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.yml text eol=lf

*.png binary

/.code-climate.json export-ignore
/.editorconfig export-ignore
/.eslintrc.json export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.stylelintrc.json export-ignore
/cspell.json export-ignore
/dev export-ignore
/phpcs.slevomat.xml export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/src/Debug/jest.config.js export-ignore
/src/Debug/js_src export-ignore
/src/Debug/package-lock.json export-ignore
/src/Debug/package.json export-ignore
/src/Debug/rollup.config.js export-ignore
/src/Debug/scss export-ignore
/tests export-ignore
