# Auto detect text files and perform LF normalization
* text eol=lf

/.code-climate.json export-ignore
/.editorconfig export-ignore
/.eslintrc.json export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.stylelintrc.json export-ignore
/.travis.yml export-ignore
/phpcs.slevomat.xml export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/sniffs export-ignore
/src/Debug/js_src export-ignore
/src/Debug/ComposerScripts.php export-ignore
/src/Debug/jest.config.js export-ignore
/src/Debug/package-lock.json export-ignore
/src/Debug/package.json export-ignore
/src/Debug/rollup.config.js export-ignore
/src/Debug/scss export-ignore
/tests export-ignore
