<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  backupGlobals="false"
  beStrictAboutCoversAnnotation="false"
  bootstrap="tests/bootstrap.php"
  colors="true"
  forceCoversAnnotation="true"
  testdox="true"
  verbose="true"
>
  <php>
    <env name="MYSQL_HOST" value="localhost" />
    <env name="MYSQL_DATABASE" value="test" />
    <env name="MYSQL_USERNAME" value="root" />
    <env name="MYSQL_PASSWORD" value="root" />
    <!--
    Port to be used for local tests.
    On GitHub Actions, it will be overwritten by the port set in the workflow.
    -->
    <env name="MYSQL_PORT" value="3306" />
  </php>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <!--
    <report>
      <clover outputFile="coverage/coverage.xml"/>
      <html outputDirectory="coverage/html"/>
      <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
    </report>
    -->
    <exclude>
      <file>src/Debug/Dump/charData.php</file>
      <file>src/HttpMessage/Factory.php</file>
      <directory>src/Debug/Framework</directory>
      <directory>src/Debug/node_modules</directory>
      <directory>src/Psr7</directory>
      <directory>src/PubSub</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Autoloader">
      <file>tests/Debug/AutoloaderTest.php</file>
    </testsuite>
    <testsuite name="Backtrace">
      <directory>tests/Backtrace</directory>
    </testsuite>
    <testsuite name="Container">
      <directory>tests/Container</directory>
    </testsuite>
    <testsuite name="CurlHttpMessage">
      <directory>tests/CurlHttpMessage</directory>
      <file phpVersion="5.5.0" phpVersionOperator=">=">tests/CurlHttpMessagePhpCond/ClientAsyncTest.php</file>
    </testsuite>
    <testsuite name="Debug">
      <directory>tests/Debug</directory>
      <exclude>tests/Debug/AutoloaderTest.php</exclude>
      <exclude>tests/Debug/Utility</exclude>
    </testsuite>
    <testsuite name="ErrorHandler">
      <directory>tests/ErrorHandler</directory>
    </testsuite>
    <testsuite name="HttpMessage">
      <directory>tests/HttpMessage</directory>
    </testsuite>
    <testsuite name="Promise">
      <directory>tests/Promise</directory>
      <file phpVersion="7.0.0" phpVersionOperator=">=">tests/PromisePhpCond/CoroutineTest.php</file>
      <file phpVersion="5.5.0" phpVersionOperator=">=">tests/PromisePhpCond/EachPromiseTest.php</file>
    </testsuite>
    <testsuite name="Slack">
      <directory>tests/Slack</directory>
    </testsuite>
    <testsuite name="Teams">
      <directory>tests/Teams</directory>
    </testsuite>
    <testsuite name="Utility">
      <directory>tests/Debug/Utility</directory>
    </testsuite>
  </testsuites>
</phpunit>
