/*
    Copy to coverage's _css/custom.css
*/

body {
    padding: 0px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.90);
}

* {
    color: #cbcbcb !important;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #424242;
}

/*
    code line covered
*/
.table tbody tr.covered-by-large-tests {
    background-color: #153c01ad;
}
.table tbody tr.danger {
    background-color: #950101;
}


/*
    code line not covered
*/

li.covered-by-large-tests,
tr.success,
td.success,
li.success,
span.success {
    background-color: inherit;
}

.table tbody tr td.danger,
li.danger,
span.danger {
    background-color: #511100;
    color: white;
}

.table tbody tr td.warning,
li.warning,
span.warning {
    background-color: #403900;
}

.breadcrumb {
    background-color: #001827;
    border-radius: .25rem;
}

.octicon {
    filter: invert(0.8)
}

.progress {
    background-color: rgb(66, 66, 66);
}

/* Tooltip */
.popover {
    --tooltip-bg-color: #0d0d0d;
}
.popover-header {
    border-bottom: 0px var(--tooltip-bg-color) !important;
}
.popover, .popover-header {
    background-color: var(--tooltip-bg-color);
}
.arrow::after {
    border-top-color: var(--tooltip-bg-color) !important;
    border-bottom-color: var(--tooltip-bg-color) !important;
}

li.covered-by-large-tests {
    background-color: inherit;
}