/**
 * Base debug CSS
 *
 * use setCfg('css', 'more css'); to add rules / override default
 */

.debug {
	position: relative;
	clear: both;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: .6em;
	line-height: normal;
	text-shadow: none;
	color: #111;
}
.debug * {
	font-size: inherit;
	line-height: normal;
	text-indent: 0;
	color: inherit;
}

.debug a { text-decoration:none; color:#00e; }
.debug a:visited { color: #551a8b; }
.debug a:focus, .debug a:hover { text-decoration: underline; }
.debug a:active, .debug a:hover { outline: 0; color: #e00; }
.debug code {
	padding: 2px 4px;
	background-color: transparent;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.debug dl { margin-top:0; margin-bottom:0; }
.debug dt { font-weight:bold; }
.debug dl:not(.dl-horizontal) dd {
	margin-left: 20px;
	padding-left: 10px;
	text-indent: -10px;
}
.debug fieldset {
	padding: .66em;
	margin: 0 0 10px 0;
	min-width: 0;
	border: 1px solid black;
	border-radius: 4px;
}
.debug legend {
	padding: 0;
	float: left;
	margin-bottom: .5em;
	border: 0;
	width: 100%;
	font-size: 1.15em;
	font-weight: bold;
}
.debug h3 { margin-top:.66em; margin-bottom:0; font-size:1.15em; font-weight:bold; }
.debug h3:first-child { margin-top:0; }
.debug img { border:0; }
.debug input[type=checkbox] { margin:0; }
.debug label { cursor:pointer; font-weight:bold; margin:0; }
.debug p { margin-top:.25em; margin-bottom:0; }
.debug p:first-child { margin-top:0; }
.debug pre {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 1.2em;
	line-height: 1.1em;
	white-space: pre;
	-moz-tab-size: 3;
	  -o-tag-size: 3;
		-tab-size: 3;
}
/*.debug pre br { display:none; }*/
.debug table { border-collapse:collapse; }
.debug table caption { font-weight:bold; font-style:italic; padding-bottom:0; padding-top:2px; text-align:left; }
.debug table th,
	.debug table tfoot td { font-weight:bold; background-color:rgba(0,0,0,0.1); }
.debug table thead th { text-align:center; }
.debug table th, .debug table td { padding:0 .25em; vertical-align:top; }
.debug .table-bordered th, .debug .table-bordered td { border:1px solid #7F7F7F; padding:1px .25em; }
.debug table th .t_classname { opacity:.50; font-style:italic; }
.debug table th .t_classname:before { content:"("; }
.debug table th .t_classname:after { content:")"; }
.debug tbody th.t_int,
	.debug td.numeric,
	.debug td.t_int { text-align:right; }
.debug td.t_key:before,
	.debug td.t_key:after,
	.debug th.t_key:before,
	.debug th.t_key:after { content:none; }
.debug ul { margin-top:0; margin-bottom:0; }

.debug [title] { cursor:help; }
.debug [title]:hover { background-color:rgba(0,0,0,0.2); }

/*
	sortable table
*/
.debug table.table-sort > thead th { cursor:default; }
.debug table.table-sort > thead th:hover { background-color:rgba(0,0,0,0.25); }
.debug .sort-arrows {
	text-align: center;
	height: 1.64em;
	width: 1.2em;
	margin-left: 0;
	margin-right: 1px;
}
.debug .sort-arrows .fa {
	position: absolute;
	opacity: .33;
}
.debug .sort-arrows .fa-caret-down { bottom:0; }
.debug .sort-arrows .fa-caret-up { top:-1px; }
.debug .sort-asc .fa-caret-down { opacity:1; }
.debug .sort-desc .fa-caret-up { opacity:1; }

/*
	alerts
*/
.debug .alert {
	font-size: 125%;
	padding: .66em;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.debug .alert .alert-link {
	font-weight: bold;
}
.debug .alert-danger {
	background-color: #ffbaba;
	border-color: #d8000c;
	color: #d8000c;
}
.debug .alert-danger .alert-link {
	color: #843534;
}
.debug .alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}
.debug .alert-info .alert-link {
	color: #245269;
}
.debug .alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.debug .alert-success .alert-link {
	color: #2b542c;
}
.debug .alert-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}
.debug .alert-warning .alert-link {
	color: #66512c;
}
.debug .alert-dismissible {
	padding-right: 35px;
}
.debug .alert-dismissible .close {
	position: relative;
	top: -7px;
	right: -21px;
}
.debug .close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.debug button.close {
	padding: 0;
	cursor: pointer;
	background: none;
	border: 0;
}
.debug button.close:hover {
	text-decoration: none;
	opacity: 0.5;
}
.debug .alert h3 { margin-bottom:4px; }
.debug .alert h3:last-child { margin-bottom:0; }

/*
	General
*/
.debug .debug-bar {
	padding: 5px;
	font-size: 115%;
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}
.debug .debug-bar h3 { margin-top:0; }
.debug .debug-content { margin-top:0.75em; }
.debug .channels legend { font-size:144%; }
.debug .channels > ul { font-size:125%; }

/*
	array & objects
*/
.debug span.array-inner,
	.debug .object-inner { display:block; margin-left:1.5em; }
.debug span.key-value {
	display: block;
	padding-left: 10px;
	text-indent: -10px;
}
.debug .t_object .property-name[title],
	.debug .t_object .method-name[title],
	.debug .t_object .method .parameter [title],
	.debug .t_object .t_stringified,
	.debug .t_object .t_type[title] {
		text-decoration: underline;
	}
.debug .t_object .method.deprecated i { border-bottom:0; }
.debug .t_object .t_modifier_static { font-style:italic; color:#00529B; }
.debug .info { display:inline-block; }
.debug .deprecated { opacity:.66; }
.debug .deprecated i { opacity:.66; color:#D8000C; }
.debug .constant-name,
	.debug .property-name,
	.debug .method .method-name {
		font-weight: bold;
	}
.debug .method > .t_punct {
	opacity: 1;
	font-weight: bold;
	color: inherit;
}
.debug .property.private-ancestor { color: #F39; }
.debug .property.private-ancestor:hover { color: inherit; }

/*
	Methods
*/
.debug .m_assert,
	.debug .m_clear,
	.debug .m_count,
	.debug .m_error,
	.debug .m_info,
	.debug .m_log,
	.debug .m_warn {
		/*
			We use display: table so that background-color doesn't fill entire width;
		*/
		position: relative;
		display: table;
		padding-left: 10px;
		text-indent: -10px;
		padding-right: .33em;
	}
.debug .m_assert { background-color:rgba(255,204,204,.75); }
.debug .group-header { display:table; white-space:nowrap; }
.debug .m_group {
	clear: left;
	margin-left: 1em;
	border-left: 1px solid rgba(0, 0, 0, 0.25);
	padding-left: 1px;
}
.debug .group-label { font-weight:bold; }
.debug .m_group.debug-header,
	.debug .m_group.debug-content {
		margin-left: 0;
		border-left: 0;
		padding-left: 0;
	}

.debug .m_error,
	.debug :not(.expanded) > .level-error { background-color:#FFBABA; color:#D8000C; }

.debug .m_info,
	.debug .info,
	.debug :not(.expanded) > .level-info { background-color:#BDE5F8; color:#00529B; }

.debug .m_warn,
	.debug :not(.expanded) > .level-warn { background-color:#FEEFB3; color:#9F6000; }

/*
	emphasize the fatal error
*/
.debug .m_error.error-fatal:before {
	display: block;
	margin-left:10px;
	margin-bottom: 5px;
	content: "Fatal error";
	font-size: 1.2em;
	font-weight: bold;
}
.debug .debug-content .error-fatal {
	padding: 10px;
	border-left: solid 2px #D8000C;
}

/*
	data types and "tokens"
*/
.debug .t_bool.true { color:#993; text-shadow:1px 1px 2px rgba(153, 153, 51, 0.5); }
.debug .t_bool.false { color:#C33; text-shadow:1px 1px 2px rgba(204, 51, 51, 0.5); }
.debug .t_callable { font-weight:bold; }
.debug .t_callable .t_type,
	.debug .t_callable .namespace {
		font-weight: normal;
	}
.debug .t_const { color:#039; font-family:monospace; }
.debug .t_object .t_classname,
	.debug td.t_classname {
		font-weight: bold;
		/*text-decoration: underline;*/
	}
.debug .namespace { opacity:0.5; }
.debug .t_int,
	.debug .t_float,
	.debug .numeric {
		font-family: Courier New,monospace,Ariel;
		color: #009;
		font-size: 1.15em;
		line-height: 1.15em;
	}

.debug .t_key { opacity:.75; }
.debug .t_key:before,
	.debug .t_key:after {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		color: #999;
	}
.debug .t_key:before { content:'['; margin-right:1px; }
.debug .t_key:after { content:']'; margin-left:1px; }
.debug .t_key.t_int:before,
	.debug .t_key.t_int:after,
	.debug .t_key.t_float:before,
	.debug .t_key.t_float:after,
	.debug .t_key.numeric:before,
	.debug .t_key.numeric:after {
		/* undo font-size increase numerics got */
		font-size: 0.8695em;
	}
.debug .t_keyword { color:#07A; }
.debug .t_null { opacity:0.3; }
.debug .t_operator { color:#A67F59; }
.debug .t_punct { color:#999; }
.debug .t_recursion { font-weight:bold; color:#F00; }
.debug .t_resource { font-style:italic; }
.debug .t_string { white-space:pre-wrap; }
.debug .t_string * { white-space:normal; }
.debug .t_string:before { content:open-quote; opacity:0.33; }
.debug .t_string:after { content:close-quote; opacity:0.33; }
.debug .t_stringified { text-shadow: 0 0 2px rgba(0, 200, 200, 0.6); }
.debug .t_type { color:#693; }
.debug .t_undefined:after { content:"undefined"; opacity:0.3; }
.debug table .t_undefined { background-color: rgba(0, 0, 0, 0.1); }
.debug table .t_undefined:after { content:none; }

.debug .binary {
	margin: 0 .1em;
	padding: 0 .3em;
	background-color: #c0c0c0;
	color: #003;
	font-weight: bold;
}
.debug .c1-control {
    font-size: 3em;
    line-height: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: -.12em -.12em 0 -.12em;
}
.debug .timestamp { color:#009; }
.debug .unicode {
	margin: 0 .1em;
	padding: 0 .3em;
	background-color: #c0c0ff;
	color: #003;
	font-weight: bold;
}
/* Whitespace */
.ws_s, .ws_t, .ws_r, .ws_n, .ws_p { opacity: 0.33; }
.debug .ws_t:before { content: "\203A"; display: inline-block; width: 1em; }   /* &rsaquo; */
.debug .ws_r:before { content: "\\r"; }
.debug .ws_n:before { content: "\\n"; }

/*
	Utilities
*/
.debug .indent { padding-left:10px; }
.debug .list-unstyled{
	list-style: none outside none;
	padding-left: 0;
}
.debug .list-unstyled ul {
	margin-left: 10px;
}
.debug .no-pseudo:before { content:none; }
.debug .no-pseudo:after { content:none; }
.debug .text-muted { opacity:0.5; }
.debug .text-right { text-align:right; }
