//
// array & objects
//

$color-classname: #8d0c4c;
$color-param: #263;
$color-static: #00529b;

.namespace { opacity: 0.5; }

.array-inner,
.object-inner {
  display: block;
  margin-left: 1em;
}

.classname {
  font-weight: bold;
  color: $color-classname;
}

.array-inner {
  > li {
    > .t_operator {
      margin: 0 0.25em;
    }
  }
}
.t_array.array-file-tree {
  .array-inner {
    margin-left: 0.25em;
  }
  .exclude-count {
    background: $info-bg;
    color: $info-fg;
  }
  .t_key {
    color: #000040  ;
    font-weight: bold;
  }
  .t_string,
  .t_key {
    // directory "key" & files
    &::before,
    &::after {
      display: none;
    }
  }
}
li[class*=m_] > .t_array.array-file-tree > .array-inner {
  margin-left: -10px;
}

.t_object {
  display: inline;

  .method .parameter [title],
  .t_identifier[title],
  .t_stringified,
  .t_type[title] {
    text-decoration: underline;
  }
  .method {
    &.deprecated {
      opacity: 0.66;
      i {
        opacity: 0.66; // inherits, want even lighter
        color: $error-fg;
        border-bottom: 0;
      }
    }
    > .t_punct {
      opacity: 1;
      font-weight: bold;
      color: inherit;
    }
    .t_parameter-name {
      color: $color-param;
    }
  }
  .property {
    &.private-ancestor:not(:hover) {
      > * { opacity: 0.5; }
    }
  }
  .t_modifier_static {
    font-style: italic;
    color: $color-static;
  }
  .info {
    display: inline-block;
    background-color: $info-bg;
    color: $info-fg;
  }
}
td.t_object {
  display: table-cell;
}
