nav[role=tablist] {
  display: inline-block;
  // margin-left: 20px;
  font-size: 0; // so that child inline-blocks don't have space between them
  line-height: 20px;
  vertical-align: top;
  .fa {
    margin-right: 0.5em;
  }
  a {
    display: inline-block;
    padding: 0 13px;
    font-size: $font-size;
    line-height: 20px;
    vertical-align: top;
    color: $default-fg;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      &:not(.active) {
        background: darken($lite-grey, 5%);
      }
    }
    &.active {
      line-height: 19px;
      border-bottom: $color-tab-active-border solid 2px;
    }
  }
}

.tab-panes {
  overflow: auto;

  .tab-pane {
    position: static;
    display: none;
    &.active {
      display: block;
    }
    .tab-body {
      padding: 10px 12px 5px;
      background-color: #fff;
      overflow: auto;
    }
  }
}
