// Utilities

.indent { padding-left: 10px !important; }

.p0 { padding: 0 !important; }

.fa-inverse { color: var(--color-fa-inverse); }
.fa-stack { line-height: 2em; }
.fa-stack-1x { line-height: inherit; }
.fa-stack-2x { font-size: 2em; }

.float-left { float: left !important; }
.float-right { float: right !important; }

.font-weight-bold { font-weight: bold; }

.no-quotes {
  &::before { content: none; }
  &::after { content: none; }
}

// no primary
.bg-secondary {
  background-color: var(--color-secondary-bg) !important;
  color: var(--color-secondary-fg) !important;
}
.bg-success {
  background-color: var(--color-success-bg) !important;
  color: var(--color-success-fg) !important;
}
.bg-error {
  background-color: var(--color-error-bg) !important;
  color: var(--color-error-fg) !important;
}
.bg-warn {
  background-color: var(--color-warn-bg) !important;
  color: var(--color-warn-fg) !important;
}
.bg-info {
  background-color: var(--color-info-bg) !important;
  color: var(--color-info-fg) !important;
}

.fw-bold { font-weight: 700; }

.d-none, .hide {
  display: none !important;
}

.logentry-muted {
  opacity: 0.5;
  &.m_group.expanded {
    opacity: 1;
  }
}

.text-center { text-align: center; }
// .text-nowrap { white-space: nowrap; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.text-error { color: var(--color-error-fg); }
.text-info { color: var(--color-info-fg); }
.text-muted { opacity: .5; }
.text-success { color: var(--color-success-fg); }
.text-warn { color: var(--color-warn-fg); }
