@use 'sass:color';

.debug[data-theme=dark] {
  --color-bg: #282828;
  --color-fg: #c7c7c7;
  --color-bg-2: #3c3c3c;
  --color-fg-2: #c7c7c7;
  --color-bg-2-hover: #{color.adjust(#3c3c3c, $lightness: -10%)};
  --color-fg-hover: #c7c7c7;
  --color-resize-handle: #{color.adjust(#3c3c3c, $lightness: 25%)};
  --color-ui-border: #d0d0d066;
  
  --color-button-fg: #f0f0f0;
  --color-button-bg: #222;
  --color-button-bg-hover: #1e1e44;
  // --color-button-border: #afafaf;

  --color-a: #6ea8fe;
  --color-a-visited: #6ea8fe;
  --color-a-hover: #8bb9fe;

  --color-error-bg: #2c0b0e;
  --color-error-border: #842029;
  --color-error-fg: #ea868f;
  --color-error-link: #ea868f;
  
  --color-info-bg: #032830;
  --color-info-border: #087990;
  --color-info-fg: #6edff6;
  --color-info-link: #6edff6;
  
  --color-success-bg: #103424;
  --color-success-border: #467b68;
  --color-success-fg: #75b798;
  --color-success-link: #75b798;
  
  --color-warn-bg: #332701;
  --color-warn-border: #997404;
  --color-warn-fg: #ffda6a;
  --color-warn-link: #ffda6a;

  --color-classname: color-mix(in lch, currentColor, #f8b3d5);
  --opacity-namespace: 0.9;
  --color-identifier: #37e;
  --color-numeric: #9980ff;
  --color-timestamp: #9980ff;
  // --color-quote: #c7c7c7c7;
  --color-t-null: #c7c7c799;

  --color-array-file-tree-key: #c7c7FF;

  --color-prettified: #99f; /* the word "prettified" */
  --color-unicode-bg: #03316d;
  
  --color-object-debug: #66f;
  --color-object-heading: #99f;
  --color-object-private: #ccc6;
  --color-object-protected: #ccc9;

  --color-table-th-bg: #333;
  --color-table-hover-fg: #ccc;
  --color-table-hover-bg: #ccc3;
  --color-table-undefined-bg: #333;

  // error icon #e46962   4e3534
  // warn icon #fe8d59   413c26
  // info icon #79a8f1
}
